.form {
    font-family: sans-serif;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px black solid;
    padding: 25px;
}

@media (max-width: 500px) {
    .form {
        width: 80vw;
    }
}
@media (min-width: 500px) and (max-width: 1200px) {
    .form {
        width: 75vw;
    }
}
@media (min-width: 1200px) {
    .form {
        width: 60vw;
    }
}

.layers-row {
    display: flex;
    border-radius: 5px;
    border: 1px black solid;
    padding: 15px;
    gap: 10px;
    overflow-x: scroll;
    margin: 20px 0;
}

.remove-layer {
    position: absolute;
    transform: translateY(-28px) translateX(-28px);
    background-color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    border: 1px black solid;
}

.button-layer,
.add-alt {
    border-radius: 10px;
    border: 1px black solid;
}

.add-alt {
    --size: calc(1.25in + 20px + 0.1px);
    min-height: var(--size);
    min-width: var(--size);
}

.button-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.layer-img {
    --layer-size: 1.25in;
    width: var(--layer-size);
    height: var(--layer-size);
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1px solid gray;
    background-image: url(/assets/upload.svg);
}
.layer-img.upload-icon {
    background-size: 50% 50%;
}
.layer-img.layer-img-full {
    --layer-size: 1.625in;
}
.layer-config {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 20px;
}
.layer-config > .text-button {
    background-color: lightgray;
    width: 22px;
    flex: auto;
    margin: 0;
    border: 0.5px solid black;
    font-size: 1em;
}
.checkbox::after {
    line-height: 2;
    content: attr(uncheckedMark);
}
.checkbox:checked::after {
    content: attr(checkedMark);
}

.hidden {
    display: none;
}
.d-contents {
    display: contents;
}
.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
